In [1]:
import requests  
import time
import pandas as pd
from itertools import product
from mip import Model, xsum, minimize, BINARY
from geopy import distance
import plotly
import plotly.express as px
import plotly.graph_objects as go

Using Python-MIP package version 1.8.1

## Load data from CSV-File
However, there are some very small independently governed areas/countries in Europe (= population lower than 300.000 inhabitants). Those countries are removed for our optimization problem to reduce the complexity.

In [2]:
df = pd.read_csv('EU_capitals.csv')
df = df[df.population > 300000]
df.reset_index(inplace=True, drop=True)
df.head()

                  country   capital        lat       long code  population
0                 Albania    Tirana  41.315886  19.900912   AL     2886026
1                 Austria    Vienna  48.208354  16.372504   AT     8725931
2                 Belarus     Minsk  53.902334  27.561879   BY     9498700
3                 Belgium  Brussels  50.846557   4.351697   BE    11319511
4  Bosnia and Herzegovina  Sarajevo  43.851977  18.386687   BA     3531159

## Choose Start and End point:

In [3]:
start = 'Iceland'
end = 'Cyprus'

Rearrange the Dataframe to start with the selected Start point:

In [6]:
id_start = df.index[df['country'] == start][0]
df = df.take([id_start]).append(df.drop(df.index[id_start]))
df = df.reset_index(drop=True)
id_end = df.index[df['country'] == end][0]

## Calculate Distance Matrix
In the next step, I calculated the distance matrix for all capitals:

In the next step, I calculated the distance matrix for all capitals:

## Define model and contraints
1. X represents a matrix of zeros and ones, which indicates if a vertix between two nodes/capitals (i,j) exists (=1) or not (=0)
2. Y represents a list of numbers, which indicate the 'traveling'-sequence of the nodes/capitals.

objective: the 'traveling'-route should have a minimized distance

contraints: 
- each node should only be entered once (except starting node is entered zero times)
- each node should only be left once (except end point is left zero times)
- it should be one route and no subroutes

In [7]:
dist = [[distance.distance((df.lat[i],df.long[i]),(df.lat[j],df.long[j])).km for j in range(len(df))] for i in range(len(df))]

In [8]:
# number of nodes and list of vertices
n = len(dist) 
V = set(range(len(dist)))

model = Model()

# binary variables indicating if arc (i,j) is used on the route or not
x = [[model.add_var(var_type=BINARY) for j in V] for i in V]

# continuous variable to prevent subtours: each city will have a
# different sequential id in the planned route except the first one
y = [model.add_var() for i in V]

# objective function: minimize the distance
model.objective = minimize(xsum(dist[i][j]*x[i][j] for i in V for j in V))

# constraint : leave each city only once
for i in V-{id_end}:
    model += xsum(x[i][j] for j in V - {i}) == 1

# constraint : enter each city only once
for i in V-{0}:
    model += xsum(x[j][i] for j in V - {i}) == 1

# subtour elimination
for (i, j) in product(V - {0}, V - {0}):
    if i != j:
        model += y[i] - (n+1)*x[i][j] >= y[j]-n

# optimizing
model.optimize()

,country,capital,lat,long,code,population
0,Iceland,Reykjav√≠k,64.145981,-21.942237,IS,334300
17,Ireland,Dublin,53.349764,-6.260273,IE,6378000
29,Portugal,Lisbon,38.707751,-9.136592,PT,10374822
36,Spain,Madrid,40.416705,-3.703582,ES,46438422
13,France,Paris,48.856697,2.351462,FR,66710000
40,United Kingdom of Great Britain and Northern I...,London,51.507322,-0.127647,GB,65110000
26,Netherlands,Amsterdam,52.372760,4.893604,NL,17019800
4,Belgium,Brussels,50.846557,4.351697,BE,11319511
21,Luxembourg,Luxembourg,49.611277,6.129799,LU,576200
38,Switzerland,Bern,46.948271,7.451451,CH,8341600
9,Czech Republic,Prague,50.087465,14.421254,CZ,10558524
14,Germany,Berlin,52.517036,13.388860,DE,81770900
10,Denmark,Copenhagen,55.686724,12.570072,DK,5717014
27,Norway,Oslo,59.913330,10.738970,NO,5223256
37,Sweden,Stockholm,59.325117,18.071093,SE,9894888
12,Finland,Helsinki,60.167410,24.942577,FI,5491817
11,Estonia,Tallinn,59.437216,24.745369,EE,1315944
19,Latvia,Riga,56.949398,24.105185,LV,1961600
28,Poland,Warsaw,52.233717,21.071411,PL,38437239
20,Lithuania,Vilnius,54.687046,25.282911,LT,2872294
3,Belarus,Minsk,53.902334,27.561879,BY,9498700
32,Russian Federation,Moscow,55.479205,37.327330,RU,146599183
39,Ukraine,Kiev,50.450034,30.524136,UA,42692393
24,Moldova (Republic of),Chi»ôinƒÉu,47.027312,28.826340,MD,3553100
31,Romania,Bucharest,44.436141,26.102720,RO,19861408
6,Bulgaria,Sofia,42.697863,23.322179,BG,7153784
22,Macedonia (the former Yugoslav Republic of),Skopje,41.833333,22.000000,MK,2058539
30,Republic of Kosovo,Pristina,42.663877,21.164085,XK,1733842
1,Albania,Tirana,41.315886,19.900912,AL,2886026
25,Montenegro,Podgorica,42.441524,19.262108,ME,621810
5,Bosnia and Herzegovina,Sarajevo,43.851977,18.386687,BA,3531159
33,Serbia,Belgrade,44.817813,20.456897,RS,7076372
16,Hungary,Budapest,47.498382,19.040471,HU,9823000
34,Slovakia,Bratislava,48.151699,17.109306,SK,5426252
2,Austria,Vienna,48.208354,16.372504,AT,8725931
7,Croatia,Zagreb,45.813177,15.977048,HR,4190669
35,Slovenia,Ljubljana,46.049980,14.506860,SI,2064188
18,Italy,Rome,41.893320,12.482932,IT,60665551
23,Malta,Valletta,35.898982,14.513676,MT,425384
15,Greece,Athens,37.983941,23.728305,GR,10858018
8,Cyprus,Nicosia,35.173930,33.364726,CY,847000